<!DOCTYPE html>
<html>
    <head>
        <title>jQuery Knob demo</title>
        <script src="static/js/jquery.min.js"></script>
        <!--[if IE]><script type="text/javascript" src="static/js/excanvas.js"></script><![endif]-->
        <style>
            body{
              padding: 0;
              margin: 0px 50px;
              font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
              font-weight: 300;
              text-rendering: optimizelegibility;
            }
            p{font-size: 30px; line-height: 30px}
            div.demo{text-align: center; width: 280px; float: left}
            div.demo > p{font-size: 20px}
        </style>
    </head>
    <body>
        <div style="width:100%;font-size:40px;letter-spacing:-8px;line-height:40px;">
            <h1>jQuery Knob</h1>
        </div>
        <div class="demo" style="width:100%">
            <p>&#215; Responsive {{ ps }}</p>
            <pre>
data-width="80%"
            </pre>
            <div style="width: 30%; border: 3px dashed; margin-bottom: 20px">
                {{ data }}
            </div>
        </div>
    </body>
</html>